.form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 100px;
    margin: 20px 0; 
}

.radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.radio-row {
    display: flex;
}

.only-radio {
    margin: 0 10px;
}

.textarea-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question {
    font-size: 20px;
}